        .navbar {
            background-color: #333;
            color: white;
            display: flex;
            justify-content: center; /* Center content horizontally */
            align-items: center;
            padding: 10px 20px;
        }
        .logo {
            font-size: 24px;
            text-decoration: none;
            color: white;
        }
        .links {
            display: flex;
            justify-content: flex-end; /* Push links to the right */
        }
        .links a {
            text-decoration: none;
            color: white;
            padding: 10px;
        }
        /* Hamburger menu styles */
        .hamburger {
            display: none;
            flex-direction: column;
            cursor: pointer;
            margin-left: auto; /* Push hamburger menu to the right */
        }
        .bar {
            width: 25px;
            height: 3px;
            background-color: white;
            margin: 3px 0;
        }
        /* Media query for small screens */
        @media screen and (max-width: 700px) {
            .logo {
                margin-right: auto; /* Push logo to the left */
            }
            .links {
                display: none; /* Hide links on small screens */
            }
            .hamburger {
                display: flex; /* Show hamburger menu */
            }
        }
